@import views.html.logged_in
@()(implicit session: play.api.mvc.Session)

@main("") {
    <script type='text/javascript' src='@controllers.routes.Assets.versioned("javascripts/testing_mode.js")'></script>
<br>
<div class="row" align="center">
    <h3 class="text-center">Passing Tests by Themes</h3>
    <select name="subject" data-bind="options: subjects, optionsText: 'name', value: selectedSubject,  event: {change: onSubjectChange}">
        <option>Select Subject</option>
    </select>
    <select name="theme" data-bind="options: themes, optionsText: 'name', value: selectedTheme"></select>

    @*<select name="Complicated" data-bind="option " id="#"></select>*@
    <a  href="@routes.QuizController.tests()">
        <button type="submit" class="btn btn-success btn-large right" style="margin-top: -10px; border-radius: 4px; background-color: mediumpurple ">Show tests</button>
    </a>

</div>

<div class="row" align="center">

    <h3 class="text-center">Passing Tests by 3 Subjects</h3>
@*firstBlock*@
    <select name="firstSubject" data-bind="options: subjects, optionsText: 'name', value: firstBlock">
        <option>Subject</option>
    </select>

@*secondBlock*@
    <select name="secondSubject" data-bind="options: subjects, optionsText: 'name', value: secondBlock">
        <option>Subject</option>
    </select>

    @*thirdBlock*@
    <select name="thirdSubject" data-bind="options: subjects, optionsText: 'name', value: thirdBlock">
        <option>Subject</option>
    </select>
    <a  href="@routes.QuizController.tests()" type="submit" class="btn btn-success btn-large right"  style="margin-top: -10px; border-radius: 4px; background-color: mediumpurple">Begin</a>

</div>

}