@import views.html.logged_in
@()(implicit session: play.api.mvc.Session)

@main("") {
  <script type='text/javascript' src='@controllers.routes.Assets.versioned("javascripts/quiz.js")'></script>

  <div class="container">
      <div class="row">
        <div class="span12">

          <ul class="nav nav-tabs" >
            <li class="active"><a href="#FirstSubject" data-toggle="tab"><span style="font-family: 'Times New Roman'; font-size: 20px">Matematika</span></a></li>
            <li><a href="#SecondSubject" data-toggle="tab"><span style="font-family: 'Times New Roman'; font-size: 20px">Fizika</span></a></li>
            <li><a href="#ThirdSubject" data-toggle="tab"><span style="font-family: 'Times New Roman'; font-size: 20px">Ingliz tili</span></a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="FirstSubject">
              <div class="row marg">
                <div class="col-md-8 TestNumb">
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">1</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(1);}">2</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(2);}">3</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(3);}">4</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(4);}">5</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(5);}">6</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(6);}">7</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(7);}">8</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(8);}">9</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(9);}">10</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(10);}">11</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(11);}">12</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(12);}">13</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(13);}">14</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(14);}">15</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(15);}">16</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(16);}">17</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(17);}">18</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(18);}">19</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(19);}">20</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(20);}">21</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">22</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">23</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">24</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">25</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">26</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">27</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">28</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">29</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">30</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">31</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">32</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">33</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">34</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">35</button>
                  <button type="button" class="btn btn-success btn-small" data-bind="click: function () { $root.getQuestion(0);}">36</button>
                </div>
                <div class="col-md-4">
                </div>
              </div>

              <div class="row TestRow" data-bind="with: currentQuestion()">
                <div class="row">
                  <h3 class="text-center" style="font-family: 'Times New Roman'" data-bind="html: question"></h3>
                </div>

                <div class="row">
                  <div class="col-xs-8 answers">
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">A</span><span style="margin-left: 20px" data-bind="html: ansA"></span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">B</span><span style="margin-left: 20px" data-bind="html: ansB"></span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">C</span><span style="margin-left: 20px" data-bind="html: ansC"></span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">D</span><span style="margin-left: 20px" data-bind="html: ansD"></span></a><hr>
                  </div>
                  <div class="col-xs-4"></div>
                </div>

              </div>

            </div>

            <div class="tab-pane" id="SecondSubject">
              <div class="row">
                <div class="col-md-8 TestNumb">
                  <button type="button" class="btn btn-success btn-small">1</button>
                  <button type="button" class="btn btn-success btn-small">2</button>
                  <button type="button" class="btn btn-success btn-small">3</button>
                  <button type="button" class="btn btn-success btn-small">4</button>
                  <button type="button" class="btn btn-success btn-small">5</button>
                  <button type="button" class="btn btn-success btn-small">6</button>
                  <button type="button" class="btn btn-success btn-small">7</button>
                  <button type="button" class="btn btn-success btn-small">8</button>
                  <button type="button" class="btn btn-success btn-small">9</button>
                  <button type="button" class="btn btn-success btn-small">10</button>
                  <button type="button" class="btn btn-success btn-small">11</button>
                  <button type="button" class="btn btn-success btn-small">12</button>
                  <button type="button" class="btn btn-success btn-small">13</button>
                  <button type="button" class="btn btn-success btn-small">14</button>
                  <button type="button" class="btn btn-success btn-small">15</button>
                  <button type="button" class="btn btn-success btn-small">16</button>
                  <button type="button" class="btn btn-success btn-small">17</button>
                  <button type="button" class="btn btn-success btn-small">18</button>
                  <button type="button" class="btn btn-success btn-small">19</button>
                  <button type="button" class="btn btn-success btn-small">20</button>
                  <button type="button" class="btn btn-success btn-small">21</button>
                  <button type="button" class="btn btn-success btn-small">22</button>
                  <button type="button" class="btn btn-success btn-small">23</button>
                  <button type="button" class="btn btn-success btn-small">24</button>
                  <button type="button" class="btn btn-success btn-small">25</button>
                  <button type="button" class="btn btn-success btn-small">26</button>
                  <button type="button" class="btn btn-success btn-small">27</button>
                  <button type="button" class="btn btn-success btn-small">28</button>
                  <button type="button" class="btn btn-success btn-small">29</button>
                  <button type="button" class="btn btn-success btn-small">30</button>
                  <button type="button" class="btn btn-success btn-small">31</button>
                  <button type="button" class="btn btn-success btn-small">32</button>
                  <button type="button" class="btn btn-success btn-small">33</button>
                  <button type="button" class="btn btn-success btn-small">34</button>
                  <button type="button" class="btn btn-success btn-small">35</button>
                  <button type="button" class="btn btn-success btn-small">36</button>
                </div>
                <div class="col-md-4">
                </div>
              </div>

              <div class="row TestRow">
                <div class="row">
                  <h3 class="text-center" style="font-family: 'Times New Roman'">1 Savol</h3>
                </div>

                <div class="row">
                  <div class="col-xs-8 answers">
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">A</span><span style="margin-left: 20px">12.43</span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">B</span><span style="margin-left: 20px">12.43</span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">C</span><span style="margin-left: 20px">12.43</span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">D</span><span style="margin-left: 20px">12.43</span></a><hr>
                  </div>
                  <div class="col-xs-4"></div>
                </div>

              </div>

            </div>

            <div class="tab-pane" id="ThirdSubject">
              <div class="row">
                <div class="col-md-8 TestNumb">
                  <button type="button" class="btn btn-success btn-small">1</button>
                  <button type="button" class="btn btn-success btn-small">2</button>
                  <button type="button" class="btn btn-success btn-small">3</button>
                  <button type="button" class="btn btn-success btn-small">4</button>
                  <button type="button" class="btn btn-success btn-small">5</button>
                  <button type="button" class="btn btn-success btn-small">6</button>
                  <button type="button" class="btn btn-success btn-small">7</button>
                  <button type="button" class="btn btn-success btn-small">8</button>
                  <button type="button" class="btn btn-success btn-small">9</button>
                  <button type="button" class="btn btn-success btn-small">10</button>
                  <button type="button" class="btn btn-success btn-small">11</button>
                  <button type="button" class="btn btn-success btn-small">12</button>
                  <button type="button" class="btn btn-success btn-small">13</button>
                  <button type="button" class="btn btn-success btn-small">14</button>
                  <button type="button" class="btn btn-success btn-small">15</button>
                  <button type="button" class="btn btn-success btn-small">16</button>
                  <button type="button" class="btn btn-success btn-small">17</button>
                  <button type="button" class="btn btn-success btn-small">18</button>
                  <button type="button" class="btn btn-success btn-small">19</button>
                  <button type="button" class="btn btn-success btn-small">20</button>
                  <button type="button" class="btn btn-success btn-small">21</button>
                  <button type="button" class="btn btn-success btn-small">22</button>
                  <button type="button" class="btn btn-success btn-small">23</button>
                  <button type="button" class="btn btn-success btn-small">24</button>
                  <button type="button" class="btn btn-success btn-small">25</button>
                  <button type="button" class="btn btn-success btn-small">26</button>
                  <button type="button" class="btn btn-success btn-small">27</button>
                  <button type="button" class="btn btn-success btn-small">28</button>
                  <button type="button" class="btn btn-success btn-small">29</button>
                  <button type="button" class="btn btn-success btn-small">30</button>
                  <button type="button" class="btn btn-success btn-small">31</button>
                  <button type="button" class="btn btn-success btn-small">32</button>
                  <button type="button" class="btn btn-success btn-small">33</button>
                  <button type="button" class="btn btn-success btn-small">34</button>
                  <button type="button" class="btn btn-success btn-small">35</button>
                  <button type="button" class="btn btn-success btn-small">36</button>
                </div>
                <div class="col-md-4">
                </div>
              </div>

              <div class="row TestRow">
                <div class="row">
                  <h3 class="text-center" style="font-family: 'Times New Roman'">1 Savol</h3>
                </div>

                <div class="row">
                  <div class="col-xs-8 answers">
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">A</span><span style="margin-left: 20px">12.43</span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">B</span><span style="margin-left: 20px">12.43</span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">C</span><span style="margin-left: 20px">12.43</span></a><hr>
                    <a href="#" class="test"><span class="label label-info" style="font-size: 20px">D</span><span style="margin-left: 20px">12.43</span></a><hr>
                  </div>
                  <div class="col-xs-4"></div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  }