@()(implicit session: play.api.mvc.Session)
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a id="logo" class="pull-left" href="@routes.Application.index()"></a>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li class="active"><a href="@routes.Application.index()">Bosh sahifa</a></li>
          <li><a href="@routes.Application.about()">Xabarlar</a></li>
          <li><a href="@routes.Application.services()">Reyting</a></li>
          <li><a href="@routes.Application.portfolio()">Savollar</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sahifalar<i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.Application.blogItem()">Biz haqimizda</a></li>
              <li><a href="@routes.Application.contactUs()">Xizmatlar</a></li>
              <li class="divider"></li>
              <li><a href="@routes.Application.privacy()">Privacy Policy</a></li>
              <li><a href="@routes.Application.terms()">Terms of Use</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@session.get("ab-user")<i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="@routes.QuizController.info()">Sozlamalar</a></li>
              <li><a href="@routes.QuizController.passingTest()">Passing Test</a></li>
              <li class="divider"></li>
              <li><a href="@routes.UsersController.logout">Chiqish</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</header>