@import views.html.admin
@()(implicit session: play.api.mvc.Session)

@main("Add Question") {
    @admin.adminNavbar()
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Add/Upload Questions</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@routes.Application.index()">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">Add Questions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <ul class="nav nav-tabs nav-justified navFont">
            <li  class="active" ><a href="#addSubject" data-toggle="tab" >Fan qo'shish</a></li>
            <li ><a href="#addTheme" data-toggle="tab" >Mavzu qo'shish</a></li>
            <li ><a href="#addQuestion" data-toggle="tab" >Savo'l qo'shish</a></li>
            <li ><a href="#uploadQuestion" data-toggle="tab" >Savo'l yuklash</a></li>
        </ul>
        <br/>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="addSubject">
                <form>
                    <div class="control-group">
                        <input type="text" placeholder="Fan nomini kiriting" class="inputText">
                            <button type="button" class="btn btn-info btnLg ">Qo'shish</button>

                    </div>
                </form>
            </div>
            <div class="tab-pane fade " id="addTheme">
                <form>
                <select name="subjects" id="#" class="inputText">
                    <option value="1">Matematika</option>
                    <option value="2">Kimyo</option>
                    <option value="3">Biologiya</option>
                    <option value="4">Fizika</option>
                </select>
                    <div class="control-group">
                        <input type="text" placeholder="Mavzuni kiriting" class="inputText">
                        <button type="button" class="btn btn-info btnLg ">Qo'shish</button>

                    </div>
                </form>
            </div>
            <div class="tab-pane fade " id="addQuestion" >
                <select name="subjects" id="#" class="inputText">
                    <option value="1">Matematika</option>
                    <option value="2">Kimyo</option>
                    <option value="3">Biologiya</option>
                    <option value="4">Fizika</option>
                </select>
                <select name="themes" id="#" class="inputText">
                    <option value="1">theme1</option>
                    <option value="2">theme2</option>
                    <option value="3">theme3</option>
                    <option value="4">theme4</option>
                </select>
                <select name="difficulty" id="#" class="inputText">
                    <option value="1">easy</option>
                    <option value="2">normal</option>
                    <option value="3">difficult</option>
                </select>
                <div class="control-group " >
                    <input type="text" placeholder="Savolni kiriting" class="inputText inputQuestion">
                    <br> <span>A. </span> <input type="text" placeholder="A javobni kiriting kiriting" class="inputText inputAnswer">
                    <br> <span>B. </span> <input type="text" placeholder="B javobni kiriting kiriting" class="inputText inputAnswer">
                    <br> <span>C. </span> <input type="text" placeholder="C javobni kiriting kiriting" class="inputText inputAnswer">
                    <br> <span>D. </span> <input type="text" placeholder="D javobni kiriting kiriting" class="inputText inputAnswer">
                    <button type="button" class="btn btn-info btnLg ">Qo'shish</button>

                </div>
            </div>
            <div class="tab-pane fade" id="uploadQuestion">
                <select name="subjects" id="#" class="inputText">
                    <option value="1">Matematika</option>
                    <option value="2">Kimyo</option>
                    <option value="3">Biologiya</option>
                    <option value="4">Fizika</option>
                </select>
                <select name="themes" id="#" class="inputText">
                    <option value="1">theme1</option>
                    <option value="2">theme2</option>
                    <option value="3">theme3</option>
                    <option value="4">theme4</option>
                </select>
                <select name="difficulty" id="#" class="inputText">
                    <option value="1">easy</option>
                    <option value="2">normal</option>
                    <option value="3">difficult</option>
                </select>
                <input type="file" name="question" value="upload">
                <button type="button" class="btn btn-info btnLg ">Qo'shish</button>
            </div>
        </div>

    </div>
}