@import views.html.admin
@()(implicit session: play.api.mvc.Session)

@main("Add Subject") {
    <script type='text/javascript' src='@controllers.routes.Assets.versioned("javascripts/admin.js")'></script>

    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Add/Upload Questions</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@routes.Application.index()">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">Add Questions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <ul class="nav nav-tabs nav-justified navFont">
            <li id="subjTab" class="active" >
                <a href="#addSubject" data-toggle="tab" data-bind="click: function(){ productTypeSelected('subject'); }">
                    Fan qo'shish
                </a>
            </li>
            <li id="themeTab">
                <a href="#addTheme" data-toggle="tab" data-bind="click: function(){ productTypeSelected('theme'); }">
                    Mavzu qo'shish
                </a>
            </li>
            <li id="questTab" >
                <a href="#addQuestion" data-toggle="tab" data-bind="click: function(){ productTypeSelected('question'); }">
                    Savol qo'shish
                </a>
            </li>
        </ul>
        <br/>
        <div class="tab-content">
            <select name="subject" data-bind="options: subjects, optionsText: 'name', value: selectedSubject"></select>
            @*<select name="theme" data-bind="options: themes, optionsText: 'name', value: selectedTheme"></select>*@
            <div class="tab-pane fade active in" id="addSubject">
                <form data-bind="with: subjectVM, visible: subjectShown">
                    @admin.subject()
                </form>
            </div>

            <div class="tab-pane fade " id="addTheme">
                <form data-bind="with: themeVM, visible: themeShown">
                    @admin.theme()
                </form>
            </div>

            <div class="tab-pane fade" id="addQuestion">
                <form data-bind="with: questionVM, visible: questionShown">
                    @admin.question()
                </form>
            </div>
        </div>
    </div>
}