@()

<select data-bind="options: $root.themes, optionsText: 'name', value: selectedTheme"></select>
<select class="inputText">
    <option value="1">easy</option>
    <option value="2">normal</option>
    <option value="3">difficult</option>
</select>
<div class="control-group" >
        <textarea class="inputText inputQuestion" placeholder="Savolni kiriting" data-bind="value: question"  cols="30" rows="6"></textarea>
    <br> <span>A. </span> <input type="text" placeholder="A javobni kiriting kiriting" class="inputText inputAnswer" data-bind="value: ansA">
    <br> <span>B. </span> <input type="text" placeholder="B javobni kiriting kiriting" class="inputText inputAnswer" data-bind="value: ansB">
    <br> <span>C. </span> <input type="text" placeholder="C javobni kiriting kiriting" class="inputText inputAnswer" data-bind="value: ansC">
    <br> <span>D. </span> <input type="text" placeholder="D javobni kiriting kiriting" class="inputText inputAnswer" data-bind="value: ansD">
    <br> <span>R. </span> <input type="text" placeholder="To'g'ri javobni kiriting kiriting" class="inputText inputAnswer" data-bind="value: rAns">
    <button type="button" class="btn btn-info btnLg" data-bind="click: $root.addQuestion">Qo'shish</button>
</div>
