@(frm: Form[_])(implicit msgsI18N: Messages, flash: Flash)
@import views.html._
@import helper._

@main("Welcome to Play") {
    @flash.get("errorText").map { error =>
        <p style="color: red">
            @error
        </p>
    }
    @form(action = routes.Application.loginPost, args = 'id -> "loginform") {
        @inputText(
            field = frm("username"),
            args = '_label -> "Username:"
        )
        @inputPassword(
            field = frm("password"),
            args = '_label -> "Password:"
        )

        <input type="submit" id="submit" value="Log in">
    }

}
