@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>Abiturient testing system: @title</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="@routes.Assets.versioned("lib/nova_temp/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/nova_temp/css/bootstrap-responsive.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/nova_temp/css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/nova_temp/css/main.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/nova_temp/css/sl-slide.css")">

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("lib/nova_temp/images/ico/favicon.ico")"/>
        <link rel="apple-touch-icon-precomposed" sizes="144x144" type="image/png" href="@routes.Assets.versioned("lib/nova_temp/images/ico/apple-touch-icon-144-precomposed.png")"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" type="image/png" href="@routes.Assets.versioned("lib/nova_temp/images/ico/apple-touch-icon-114-precomposed.png")"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" type="image/png" href="@routes.Assets.versioned("lib/nova_temp/images/ico/apple-touch-icon-72-precomposed.png")"/>
        <link rel="apple-touch-icon-precomposed" type="image/png" href="@routes.Assets.versioned("lib/nova_temp/images/ico/apple-touch-icon-57-precomposed.png")"/>

        <script src="@routes.Assets.versioned("lib/nova_temp/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")"></script>

        <script src="@routes.Assets.versioned("lib/nova_temp/js/vendor/jquery-1.9.1.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/nova_temp/js/vendor/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/nova_temp/js/main.js")"></script>
            <!-- Required javascript files for Slider -->
        <script src="@routes.Assets.versioned("lib/nova_temp/js/jquery.ba-cond.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/nova_temp/js/jquery.slitslider.js")"></script>
            <!-- /Required javascript files for Slider -->

    </head>
    <body>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a id="logo" class="pull-left" href="index.scala.html"></a>
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            <li class="active"><a href="index.scala.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="icon-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="career.html">Career</a></li>
                                    <li><a href="blog-item.html">Blog Single</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="registration.html">Registration</a></li>
                                    <li class="divider"></li>
                                    <li><a href="privacy.html">Privacy Policy</a></li>
                                    <li><a href="terms.html">Terms of Use</a></li>
                                </ul>
                            </li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                            <li class="login">
                                <a data-toggle="modal" href="#loginForm"><i class="icon-lock"></i></a>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
        @content
    </body>
</html>
