@()

@main("") {

    <section class="title title-top">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Registration</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@routes.Application.index()">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        <!-- / .title -->


    <section id="registration-page" class="container">
        <form class="center" action='' method="POST">
            <fieldset class="registration-form">
                <div class="control-group">
                        <!-- Firstname -->
                    <div class="controls">
                        <input type="text" id="firstName" name="firstName" placeholder="FirstName" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                        <!-- Lastname -->
                    <div class="controls">
                        <input type="text" id="lastName" name="lastName" placeholder="LastName" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">

                    <div class="control-group">
                            <!-- E-mail -->
                        <div class="controls">
                            <input type="text" id="email" name="email" placeholder="E-mail" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                            <!-- Password-->
                        <div class="controls">
                            <input type="password" id="password" name="password" placeholder="Password" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                            <!--Confirm Password -->
                        <div class="control-group">
                            <div class="controls">
                                <input type="password" id="password_confirm" name="password_confirm" placeholder="Password (Confirm)" class="input-xlarge">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                            <!-- Birthday -->
                        <div class="controls">
                            <input type="date" id="birthday" name="birthday" placeholder="Birthday" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                            <!-- Gender -->
                        <div class="controls" >
                            <label for="genderMale" class="inline-element" ><b>Male </b></label>
                            <input type="radio" id="genderMale" name="genderMale">
                            <label for="genderFemale" class="inline-element"><b>Female</b></label>
                            <input type="radio" id="genderFemale" name="genderFemale" >
                        </div>
                    </div>
                    <div class="control-group">
                            <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success btn-large btn-block">Register</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>

}