@()

@main("Registration") {
    <script type='text/javascript' src='@controllers.routes.Assets.versioned("javascripts/registration.js")'
    xmlns="http://www.w3.org/1999/html"></script>

    <section class="title title-top">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Registration</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="@routes.Application.index()">Home</a> <span class="divider">/</span></li>
                        <li><a href="#">Pages</a> <span class="divider">/</span></li>
                        <li class="active">Registration</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
        <!-- / .title -->

    <section id="registration-page" class="container">
        <form class="center" data-bind="submit: onSubmit">
            <fieldset class="registration-form">
                <div class="control-group">
                        <!-- Firstname -->
                    <div class="controls">
                        <input type="text" id="firstName" data-bind="value: firstName" placeholder="FirstName" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                        <!-- Lastname -->
                    <div class="controls">
                        <input type="text" id="lastName" data-bind="value: lastName" placeholder="LastName" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">

                    <div class="control-group">
                            <!-- E-mail -->
                        <div class="controls">
                            <input type="text" id="email" data-bind="value: email" placeholder="E-mail" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                            <!-- Password-->
                        <div class="controls">
                            <input type="password" id="password" data-bind="value: password" placeholder="Password" class="input-xlarge">
                        </div>
                    </div>

                    <div class="control-group">
                            <!--Confirm Password -->
                        <div class="control-group">
                            <div class="controls">
                                <input type="password" id="confirmPassword" data-bind="value: confirmPassword" placeholder="Password (Confirm)" class="input-xlarge">
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Birthday -->
                        <div style="width: 270px" class='input-group' id='birthDate' data-bind="datetimepicker: birthDate,
                        dateTimePickerOptions: {format: 'MM/DD/YYYY', pickTime: false}">
                            <input type='text' class="form-control" data-bind="value: birthDate"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                            <!-- Gender -->
                        <div class="controls" >
                            <label for="genderMale" class="inline-element" ><b>Male </b></label>
                            <input type="radio" value="male" checked data-bind="checked: gender">
                            <label for="genderFemale" class="inline-element"><b>Female</b></label>
                            <input type="radio" value="female" data-bind="checked: gender">
                        </div>
                    </div>
                    <div class="control-group">
                            <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success btn-large btn-block">Register</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>

}