@import views.html
@()

@main("") {
  <script type='text/javascript' src='@controllers.routes.Assets.versioned("javascripts/quiz.js")'></script>
  <div class="control-group">
      <!-- Password -->
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-3" data-bind="foreach: questions">
          <h3 class="text-center" data-bind="text: question"></h3>

          <div class="row">
            <form action="testing">
              <div class="col-md-1 form-control-static"><input type="radio" class="form-control-static"/></div>
              <div class="col-md-1 form-control-static"><h4><b>A.</b></h4></div>
              <div class="col-md-10 form-control-static"><h4 data-bind="text: ansA"></h4></div>
            </form>
          </div>

          <div class="row">
            <form action="testing">
              <div class="col-md-1 col-md-offset-1 form-control-static"><input type="radio" class="form-control-static"/></div>
              <div class="col-md-1 form-control-static"><h4><b>A.</b></h4></div>
              <div class="col-md-9 form-control-static"><h4 data-bind="text: ansB"></h4></div>
            </form>
          </div>

          <div class="row">
            <form action="testing">
              <div class="col-md-1 form-control-static"><input type="radio" class="form-control-static"/></div>
              <div class="col-md-1 form-control-static"><h4><b>A.</b></h4></div>
              <div class="col-md-10 form-control-static"><h4 data-bind="text: ansC"></h4></div>
            </form>
          </div>

          <div class="row">
            <form action="testing">
              <div class="col-md-1 col-md-offset-1 form-control-static"><input type="radio" class="form-control-static"/></div>
              <div class="col-md-1 form-control-static"><h4><b>A.</b></h4></div>
              <div class="col-md-9 form-control-static"><h4 data-bind="text: ansD"></h4></div>
            </form>
          </div>


        </div>
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success btn-large btn-block" data-bind="click: onSubmit">Questions</button>
      </div>
    </div>

}